[client]
host = 127.0.0.1
port = 3306
user = root
password = root
database = test_qa
default-character-set = utf8


#[client]
#host = 123.57.178.85
#port = 3306
#user = root
#password = Wang666!
#database = test_qa
#default-character-set = utf8


#[client]
#host = 10.10.10.137
#port = 3306
#user = root
#password = root
#database = test_qa
#default-character-set = utf8
